.parsingNumber{
    padding: 32px 0;
    color: var(--clr-black-light);
    font-size: 3.6rem;
    font-weight: 500;
}

.flexing{
}

.toolsPanel{
    margin-top: 32px;
    justify-content: space-between;
}

.toolsKit{
    gap: 24px;
    height: 24px;
}

.toolBox{
    justify-content: space-between;
    gap: 44px;
}

.toolBox > div{
}

.toolBox > div:first-child{
    flex: 0 1 455px;
}
.toolBox > div:last-child{
    cursor: pointer;
    flex: 1 0 333px;
}

.parserTitle{
    color: var(--clr-black);
    font-size: 3.6rem;
    font-weight: 500;
    padding-bottom: 24px;
}

.parser{
    display: flex;
    border-radius: 20px;
    margin-top: 32px;
    gap: 32px;
    
}

.parserContent{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 12px;
    margin-top: 24px;
    height: calc(100vh - 395px - 32px - 16px);

}

.autoParsing{
    border-radius: 20px;
    padding: 24px 24px 24px 24px;
    flex: 0 1 50%;
    background-color: var(--clr-secondary);
}

.sort{
    gap: 12px;
}

.sort p{
    color: var(--clr-black);
    font-size: 1.8rem;
    font-weight: 500;
}

.manualParsing{
    border-radius: 20px;
    padding: 24px;
    flex: 0 1 50%;
    background-color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
}

.buttonLaunch{
    margin-top: auto;
    margin-left: auto;
    width: 272px;
}