.send{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--clr-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}