.checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 2px solid var(--clr-black-light);
    border-radius: 0.5rem;
}

.checkbox[type="checkbox"][type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    transform: scale(0);
    background: url("../../../assets/images/check.svg") no-repeat center;
}

.checkbox[type="checkbox"]:checked {
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
}

.checkbox[type="checkbox"]:checked::before {
    transform: scale(1);
}
.checkbox[type="checkbox"]:hover {
    color: red;
}
