.kanban{
    display: flex;
    gap: 32px;
    height: calc(100vh - 94px - 64px - 32px);
    margin-top: 32px;
}
.wrapper{
    flex: 0 1 25%;
    border-radius: 20px;
    padding: 0 24px 24px 24px;
    background-color: var(--clr-secondary);
}
.card{
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
}

.title{
    color: var(--clr-black-light);
    font-size: 2.4rem;
    font-weight: 500;
    padding: 24px 0;
} 