.notfound{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.notfound > h2{
    font-size: 3.6rem;
    margin-bottom: 20px;
}