.toolkit{
    margin: 32px 0;
}
.chat{
    display: flex;
    gap: 32px;
    height: calc(100vh - 94px - 24px - 128px);
}

.userProfile{
    flex: 0 0 364px;
    padding: 32px;
    background-color: var(--clr-secondary);
    border-radius: 20px;
    height: fit-content;
}

.profileImage{
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.profileImage > img{
    object-fit: cover;
    object-position: top;
}

.userProfile > h3{
    margin-top: 24px;
    color: var(--clr-black);
    font-size: 3.6rem;
    font-weight: 500;
}

.textBox{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 24px;
    color: var(--clr-black);
    font-size: 1.8rem;
    font-weight: 400;
}

.userChat{
    flex: auto;
    background: url("../../assets/images/messenger_back.jpeg") no-repeat center / cover;
    border-radius: 20px;
    padding: 32px 16px 32px 32px;
    display: flex;
    flex-direction: column;
}   

.chatContent{
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
}

.chatContent > div{
    margin-top: 55px;
}

.chatContent > div:first-child{
    margin-top: 0px;
}


.chatToolbar{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
}

.chatToolbar > div:nth-child(2){
    flex: auto;
}